tokenizers
sentencepiece
shortuuid
transformers==4.41.0
accelerate==0.27.2
peft==0.13.2
bitsandbytes
pydantic
markdown2[all]
numpy
scikit-learn
gradio
gradio_client
requests
httpx
uvicorn[]
fastapi
einops
einops-exts
timm
deepspeed==0.14.4
opencv-python
imageio
decord
mmengine
pandas